.divBg {
    background: rgb(211,19,46);
    background: linear-gradient(3deg, rgba(211,19,46,1) 0%, rgba(241,44,73,1) 48%, rgba(245,134,150,1) 100%, rgba(247,255,247,1) 100%, rgba(255,255,255,0.23853291316526615) 100%, rgba(249,213,250,0.5690651260504201) 100%, rgba(58,60,117,0.05085784313725494) 100%);
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
}